<% if @over_ten %>
  <%= link_to '以前のメッセージ', '?m=all' %>
<% end %>

<div class="ui segment">
  <% @messages.each do |message| %>
    <% if message.body.present? %>
    <% if current_user.id == message.user.id %>
        <div class="balloon3">
    <% else %>
      <div class="balloon4">
    <% end %>
        <div class="content">
          <div class="header"><strong><%= message.user.name %></strong> <%= message.message_time %></div>
          <div class="list">
                 <div><%= link_to image_tag(message.user.icon.url,class:"icon"),user_path(message.user.id) %></div>
              <%= message.body %> /
              <% if message.user == current_user %>
                <%= message.read ? '既読' : '未読' %>
              <% end %>
              <%# <%= link_to "メッセージを削除", conversation_messages_path(:sender_id current_user,),method: :delete %> %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= form_with(model: [@conversation, @message]) do |f| %>
<div class="message-form">
  <div>
    <%= f.text_area :body, class: "form-control" %>
  </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
  <div class="m-button">
    <%= f.submit "メッセージを送る",class:"btn btn-warning" %>
  </div>
</div>
<% end %>
