<div class="box">
  <h2 class="signup-text">Sign up</h2>
  <div class="box-container">
    <div class="form-horizontal" role="form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
      <%= f.label :icon,class:"form-image"%><br />
      <% if @user.icon.present? %>
        <%= image_tag @user.icon, id: :img_prev %>
      <% else %>
        <%= image_tag "default.png", id: :img_prev %>
      <% end %>
      <%= f.file_field :icon, id: :user_img, autofocus: true,class:"none btn btn-primary"  %>
      </div>
  <div class="form-group">
    <div class="field">
      <%= f.label :name%><br />
      <%= f.text_field :name, autofocus: true,class:"form-control",placeholder:"name"  %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control",placeholder:"email" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password",class:"form-control",placeholder:"password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control",placeholder:"passowrd_confimation" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up",class:"btn btn-info" %>
    </div>
  </div>

  <% end %>
    </div>
    <%= link_to "Facebookでサインアップしよう！", user_facebook_omniauth_authorize_path %>
    <%# <%= link_to "Sign in with google", user_google_oauth2_omniauth_authorize_path %> %>
    <%# <%= link_to 'Googleでサインアップしてね', user_google_omniauth_authorize_path %> %>
  </div>
</div>
