<h1>ラベルを作成する</h1>
<%= form_with(model: @label, local: true) do |form| %>
  <% if @label.errors.any? %>
    <div id="error_explanation">
      <h2><%= @label.errors.count %><%=t('view.have/errors') %></h2>
      <ul>

      <% @label.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="label_name">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <br>
  <%= form.submit class:"btn btn-info" %>
<% end %>
<br>

  <%= link_to "ユーザー一覧に戻る", users_path, class:"btn btn-info" %>
  <%= link_to "ラベル一覧に戻る", labels_path, class:"btn btn-info" %>
