<div class="whole">
  <header class="top-header">
    <div class="top-content-wrapper top-header-nav">
      <h1 id="top-poly">Polybility</h1>
        <nav>
          <ul>
            <li><a href="#">トップページ</a></li>
            <li><a href="#polybility">Polybilityとは</a></li>
            <li><a href="#contents">アプリ内容</a></li>
            <li><a href="#news">NEWS</a></li>
            <li><a href="#start">Let's get started!</a></li>
          </ul>
        </nav>
    </div>
  </header>
  <section class="top-mainvisual">
    <%= image_tag "top1.jpeg" %>
    <h2>外国語を楽しく学びませんか？</h2>
    <div class="top-bg1"></div>
  </section>
  <main>
    <section class="top-greeting" id="polybility">
      <div class="top-content-wrapper">
        <div class="top-contents">
          <figure class="top-image"><%= image_tag "top2.jpeg" %></figure>
          <div class="top-content">
            <h2>Polybilityとは</h2>
            <p>Polybilityとは、外国語を学んでいる日本人と<br>
            日本語を学んでいる外国人を共通の趣味などを通じ<br>
            言語交換をする機会を作り、語学学習をしながら国際交流を楽しむためのアプリです.<br>
            Polyは複数を表す意味で、多言語話者のことを英語でPolyglotと言います。 <br>
            Bilityは可能性を表す意味で、新しい言語が話せるようになれば<br>
            自分の可能性を広げることができると信じていますのでPolybilityと名付けました。
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="top-work" id="contents">
      <div class="top-content-wrapper">
        <h2>アプリ内容<h2>
        <ul>
          <li id="work1">
            <figure ><%= image_tag "top3.jpeg" %></figure>
            <h3>ユーザー機能</h3>
            <p>ユーザー一覧から自分の趣味や言語でマッチする方を検索することができ、直接メッセージも送ることが可能です。</p>
          </li>
          <li id="work2">
            <figure><%= image_tag "top4.jpeg" %></figure>
            <h3>投稿機能</h3>
            <p>投稿機能では勉強の共有や言語交換のパートナーとの思い出など、SNSアプリのようにお好きな写真、文章を投稿できます。</p>
          </li>
          <li id="work3">
            <figure><%= image_tag "top5.jpeg" %></figure>
            <h3>お気に入り&フォロー機能</h3>
            <p>お気に入りでは気に入った投稿に対していいねをつけることができ、いいね一覧で投稿を見ることができます。
            フォロー機能では友達になりたい人をフォローすることができる機能です。
            </p>
          </li>
        </ul>
      </div>
    </section>
    <section class="top-news" id="news">
      <div class="top-content-wrapper">
        <h2>NEWS</h2>
          <ul>
            <li><a href="#"><time>2020-01-16</time>Polybility 卒業課題の一次提出をしました！ 完成まで後少し！</a></li>
            <li><a href="#"><time>2020-01-17</time>卒業課題の要件を合格しました！</a></li>
            <li><a href="#"><time>2020-01-20</time>EC2でもデプロイ成功しました！</a></li>
            <li><a href="#"><time>2920-00-00</time>本文が入ります。本文が入ります。本文が入ります。</a></li>
          </ul>
      </div>
    </section>
    <section class="top-recruit" id="start">
      <div class="top-recruit-img"><%= image_tag "top6.jpeg" %></div>
        <h2><%= link_to "Let's get strated!",new_user_registration_path %></h2>
        <div class="top-bg2"></div>
      </section>
  </main>
 </div>
