<h1>ユーザーの編集</h1>

<%= form_with(model: @user, local: true) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
      </div>
  </div>
  <% end %>
  <div class="user_name">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="user_email">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <%= f.submit %>
<% end %>



<%= link_to '投稿一覧画面にもどる', posts_path %>
