<h1>ユーザー一覧</h1>


<%= search_form_for @search do |f| %>
<div class="hobby_form">
  <%= f.label :hobby_cont, "趣味の検索" %>
  <%= f.search_field :hobby_cont,class:"hobby_field" %>
</div>

<div class="search_form">
  <div class="form-inline">
    <%= f.label :native_language_cont, "母国語の検索",class:"language_label" %>
    <%= f.select :native_language_cont,@languages.collect {|nl| [nl.name]} , {include_blank: true}, {class: 'form-control select_language'} %>

    <%= f.label :learning_language_cont, "学習言語の検索" %>
    <%= f.select :learning_language_cont,@languages.collect {|nl| [nl.name]} , {include_blank: true}, {class: 'form-control select_language'} %>
  </div>
</div>
  <div class="actions search_button">
    <%= f.submit "検索",name:'search',class:"btn btn-info" %>
    <p><%= link_to '検索を元に戻す', users_path %></p>
  </div>
<% end %>



<div class="flex-container">
  <% @results.each do |result| %>
    <% if result.id != current_user.id %>
      <div class="f-container">
        <div class="profile-card">
          <div class="profile-card__inner">
            <div class="profile-thumb">
              <p><%=link_to image_tag(result.icon.url),user_path(result.id)%></p>
            </div>
            <div class="profile-content">
              <span class="profile-name"><%= link_to result.name,user_path(result.id) %></span>
            </div>
           <p>母国語:<%= result.native_language %></p>
           <p>学習している言語:<%= result.learning_language %></p>
           <p>趣味:<%= result.hobby %></p>
          <div class="user-buttons">
           <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: result.id),class:"btn btn-success", method: :post %>
           <%= render 'follow_form', user: result %>
          </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
