<h1><%= t('users.index') %></h1>
<%= search_form_for @search do |f| %>
<div class="search_form">
  <div class="label_form">
    <%= f.select :labels_id_eq, @labels.collect {|label| [label.hobby,label.id]} , {include_blank: t('users.hobby_search')}, {class: 'form-control select_hobby',id:"hobby"} %>
  </div>

  <div class="form-inline serch_box">
    <%= f.select :native_language_eq,@languages.collect {|nl| [nl.name]} , {include_blank: t('users.native_search')}, {class: 'form-control select_language',id:"native"} %>
    <%= f.select :learning_language_eq,@languages.collect {|nl| [nl.name]} , {include_blank: t('users.learning_search')}, {class: 'form-control select_language',id:"learning"} %>
  </div>
</div>
  <div class="actions search_button">
    <%= f.submit t('users.search'),name:'search',class:"btn btn-blue" %>
    <p><%= link_to t('users.index'), users_path %></p>
  </div>
<% end %>

<div class="flex-container">
  <% @results.each do |result| %>
    <% if result.id != current_user.id %>
      <div class="f-container">
        <div class="profile-card">
          <div class="profile-card__inner">
            <div class="profile-thumb">
              <p><%=link_to image_tag(result.icon.url),user_path(result.id)%></p>
            </div>
            <div class="profile-content">
              <span class="profile-name"><%= link_to result.name,user_path(result.id) %></span>
            </div>
            <p><%= t('users.native') %>:<%= result.native_language %></p>
            <p><%= t('users.learning') %>:<%= result.learning_language %></p>
            <p>
              <%= t('users.hobby') %>:<%result.labels.each do |label| %>
                <%= label.hobby %>
              <% end %>
            </p>
            <div class="user-buttons">
              <%= render 'follow_form', user: result %>
              <%= link_to t('users.message'), conversations_path(sender_id: current_user.id, recipient_id: result.id),class:"btn btn-green", method: :post %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div class="page">
  <%= paginate @results %>
</div>
