<h1>ユーザー一覧</h1>

<%= search_form_for @search do |f| %>

  <%= f.label :hobby_cont, "趣味の検索" %>
  <%= f.search_field :hobby_cont %>

  <%= f.label :native_language_cont, "母国語の検索" %>
  <%= f.search_field :native_language_cont %>

  <%= f.label :learning_language_cont, "学習言語の検索" %>
  <%= f.search_field :learning_language_cont %>

  <div class="actions"><%= f.submit "検索",name:'search' %></div>
<% end %>
<p><%= link_to '検索を元に戻す', users_path %></p>


<div class="flex-container">
<% @results.each do |result| %>
  <div class="f-container">
    <div class="profile-card">
      <div class="profile-card__inner">
        <div class="profile-thumb">
           <p><%= image_tag result.icon.url%></p>
        </div>
        <div class="profile-content">
          <span class="profile-name"><%= result.name %></span>
        </div>
         <p>母国語:<%= result.native_language %></p>
         <p>学習している言語:<%= result.learning_language %></p>
         <p>趣味:<%= result.hobby %></p>

          <%= render 'follow_form', user: result %>

         <div class="profile-info">
            <p><%= link_to '詳細を確認する', user_path(result.id) %></p>
         </div>
      </div>
    </div>
  </div>
<% end %>
</div>
