<h2><%= t('users.profile') %></h2>
<div class="pr-container">
  <div class="pr-icon">
    <p><%= image_tag(@user.icon.url,class:"proicon") %></p>
  </div>
  <div class="pr-text">
    <p><%= render 'stats' %></p>
    <p><%= t('users.name') %>: <%= @user.name %></p>
    <p><%= t('users.age') %> <%= @user.age %></p>
    <p><%= t('users.gender') %> : <%= @user.gender %></p>
    <p><%= t('users.country') %>: <%= @user.country %></p>
    <p><%= t('users.native') %>: <%= @user.native_language %></p>
    <p><%= t('users.learning') %> : <%= @user.learning_language %></p>
    <p><%= t('users.hobby') %>: <%@user.labels.each do |label| %>
      <%= label.hobby %>
    <% end %></p>
    <p><%= t('users.introduction') %>: <br> <%= @user.introduction %></p>
  </div>
  <% if current_user == @user %>
    <p><%= link_to t('users.edit_profile'), edit_user_registration_url,id:"edit_button",class:"btn btn-pink" %></p>
  <% end %>
  <p><%= link_to t('users.back_user'), users_path,class:"btn btn-green" %></p>
</div>

<% @users.each do |user| %>
  <div class="flex-container">
    <div class="post-card">
      <div class="post-card__inner">
        <div class="post-thumb">
          <% if user.image.url %>
            <p><%=link_to image_tag(user.image.url),post_path(user.id)%></p>
          <% end %>
        </div>
        <div class="post-content">
          <p><%= user.title %></p>
          <p><%= user.content %></p>
          <div class="detail-button">
            <span><%= link_to t('common.detail'), post_path(user.id),class:"btn btn-orange" %></span>
          </div>
          <div class="user-show-post-buttons">
            <% if @user == current_user %>
              <span><%= link_to t('common.edit'), edit_post_path(user.id), data: { confirm: t('common.edit?') },class:"btn btn-pink" %></span>
              <span><%= link_to t('common.destroy'), post_path(user.id), method: :delete, data: { confirm: t('common.delete') },class:"btn btn-red" %></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
