<%= form_with(model: @post, local: true) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= @post.errors.count %><%= t('common.have_errors') %></h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group2">
    <div class="post_image">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>
    <div class="blog_title">
      <%= f.label :title %>
      <%= f.text_field :title,class:"form-control title" %>
    </div>
    <div class="post_content">
      <%= f.label :content %>
      <%= f.text_field :content,class:"form-control content" %>
    </div>
    <div class="post-button">
    <%= f.submit class:" btn btn-info" %>
    </div>
  </div>
  <% end %>

<div class="back_button">
  <%= link_to t('posts.back_post'), posts_path,class:"btn btn-warning" %>
</div>
