<h1>投稿一覧</h1>

<table>
  <tr>
    <th>ユーザー名</th>
    <th>タイトル</th>
    <th>内容</th>
  </tr>

  <% @posts.each do |post| %>
  <tr>
    <td><%= post.user.name %></td>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <% if post.image.url %>
    <td><%= image_tag post.image.url %></td>
    <% end %>

    <td><%= link_to '詳細を確認する', post_path(post.id) %></td>
    <% if current_user.id == post.user.id %>
    <td><%= link_to '投稿を編集する', edit_post_path(post.id), data: { confirm: '本当に編集していいですか？' } %></td>
    <td><%= link_to '投稿を削除する', post_path(post.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
    <% end %>
  </tr>

  <% end %>
</table>


<%= link_to '新規投稿する', new_post_path %>
