<h1>投稿詳細画面</h1>

<div class="post-show-container">
  <div class="show-img">

    <p><%= image_tag @post.image.url %></p>

  </div>
  <p><%= @post.title %></p>
  <p><%= @post.content %></p>

  <div class="post-show-menu">
    <p>お気に入りの数:<%= @favorite_count %></p>
      <% if @favorite.present? %>
        <p><%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete %></p>
      <% else %>
        <p><%= link_to 'お気に入りする', favorites_path(post_id: @post.id), method: :post %></p>
      <% end %>
  </div>
  <div class="post-show-menu">
    <% if current_user.id == @post.user.id %>
      <p><%= link_to '編集する', edit_post_path(@post),class:"btn btn-info" %></p>
      <p><%= link_to '削除する', post_path(@post), method: :delete,class:"btn btn-danger" %></p>
    <% end %>
  </div>
</div>

<div id="comments_area">
  <%= render partial: 'comments/index', locals: { comments: @comments, post: @post } %>
</div>

<%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>

<%= link_to '投稿一覧に戻る', posts_path %>
