<h1>投稿詳細画面</h1>
<p>タイトル: <%= @post.title %></p>
<p>内容: <%= @post.content %></p>
<p>画像: <%= image_tag @post.image.url %></p>

<% if current_user.id == @post.user.id %>
<%= link_to '編集する', edit_post_path(@post) %>
<%= link_to '削除する', post_path(@post), method: :delete %>
<% end %>
<%= link_to '投稿一覧に戻る', posts_path %>
