<h1><%= t('posts.show') %></h1>
<div class="post-show-container">
  <div class="show-img">
    <p><%= image_tag @post.image.url %></p>
  </div>
  <p><%= @post.title %></p>
  <p><%= @post.content %></p>
  <div class="post-show-menu">
    <%= render partial: 'favorites/favorite' %>
    <% if current_user.id == @post.user.id %>
      <p><%= link_to t('common.edit'), edit_post_path(@post),class:"btn btn-info",id:"edit_post" %></p>
      <p><%= link_to t('common.destroy'), post_path(@post), method: :delete,class:"btn btn-danger",id:"delete_post" %></p>
    <% end %>
  </div>
</div>
<div id="comments_area">
  <%= render partial: 'comments/index', locals: { comments: @comments, post: @post } %>
</div>
<%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
<%= link_to t('posts.back_post'), posts_path %>
