<nav class="navbar navbar-expand-lg navbar-dark bg-warning">
  <%= link_to "Polybility", root_path,class:"navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item nav-link ">
          <%= link_to t('nav.user'), users_path,class:"white" %>
        </li>
        <li class="nav-item nav-link">
           <%= link_to t('nav.post'), posts_path,class:"white" %>
        </li>
        <li class="nav-item nav-link ">
          <%= link_to t('nav.favorite'), favorites_path,class:"white" %>
        </li>
        <li class="nav-item nav-link ">
          <%= link_to t('nav.chat'), conversations_path,class:"white" %>
        </li>
        <li class="nav-item nav-link ">
          <%= link_to t('nav.following'), following_user_path(current_user),class:"white" %>
        </li>
        <li class="nav-item nav-link ">
          <%= link_to t('nav.follower'), followers_user_path(current_user),class:"white" %>
        </li>
      <% else %>
        <li class="nav-item nav-link ">
          <%= link_to t('nav.signup'), new_user_registration_path,class:"white" %>
        </li>
        <li class="nav-item nav-link ">
          <%= link_to t('nav.login'), new_user_session_path,class:"white" %>
        </li>
      <% end %>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <% if current_user.try(:admin?) %>
          <li class="nav-item nav-link white">
            <%= link_to t('nav.admin'),rails_admin_path %>
          </li>
        <% end %>
        <% if user_signed_in? %>
          <li class="nav-item nav-link nav-right ">
             <%=link_to image_tag(current_user.icon.url,class:"nav-icon"),user_path(current_user.id) %>
          </li>
          <li class="nav-item nav-link ">
            <%= link_to current_user.name + t('nav.mr_ms'), user_path(current_user.id),class:"white" %>
          </li>
          <li class="nav-item nav-link">
            <%= link_to t('nav.logout'), destroy_user_session_path, method: :delete,class:"white" %>
          </li>
        <% else %>
          <li class="nav-item nav-link navbar-right ">
            <%= link_to t('nav.guest_login') ,users_guest_sign_in_path, method: :post,class:"white" %>
          </li>
        <% end %>
      </ul>
    </form>
  </div>
</nav>
